.main {
    background-color: black;
    border: solid;
    border-width: 8px;
    align-items: center;
    padding: 10px;
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

a{
    font-size: 25px;
}


.ribeyeSteak{
    color: red;
}

.garlicBread{
    color: green;
}

.cheese{
    color: yellow;
}

.buffalo{
    color: red;
}

.alfredo{
    color: blue;
}

.leftAllign{
    text-align: left;
}



