
.main {
    color: #d97a1b;
    background-color: black;
    border: solid;
    border-width: 8px;
    align-items: center;
    padding: 10px;
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}
    

.list{
    text-align: left;
}

a{
    color: #d97a1b;
}